:root {
  --boxShadow: 0 4px 8px 0 #c0c0c0;
  --mainBackgroundColor: #f3f3f3;
  --secondaryBackgroundColor: #fff;
  --textColor: #000;
}
.dark-mode {
  --boxShadow: none;
  --mainBackgroundColor: #333333;
  --secondaryBackgroundColor: #777777;
  --textColor: #fff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--mainBackgroundColor);
  color: var(--textColor);
}
.navbar-container {
  background-color: var(--secondaryBackgroundColor);
  box-shadow: var(--boxShadow);
  height: 100px;
  width: 100%;
}
.navbar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-weight: 900;
}
.dark-mode-container {
  cursor: pointer;
  font-size: 20px;
}
.main-container {
  margin: 0 auto;
  width: 90%;
}
.search-and-filter-container {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: space-between;
}
.search-and-filter-container i {
  font-size: 25px;
  padding: 20px;
  position: absolute;
}
.search-country {
  background-color: var(--secondaryBackgroundColor);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  box-shadow: var(--boxShadow);
  font-size: 20px;
  padding: 25px;
  padding-left: 80px;
  width: 40%;
}
.search-country::placeholder {
  color: var(--textColor);
  font-size: 20px;
}
.select-filter {
  background-color: var(--secondaryBackgroundColor);
  border-radius: 5px;
  border: none;
  border-right: 16px solid transparent;
  box-shadow: var(--boxShadow);
  color: var(--textColor);
  font-size: 20px;
  padding: 25px;
  width: 25%;
}
.country-display-container {
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.country-container {
  background-color: var(--secondaryBackgroundColor);
  border-radius: 5px;
  box-shadow: var(--boxShadow);
  cursor: pointer;
}
.country-flag {
  height: 170px;
  width: 100%;
}
.country-info {
  padding: 30px;
}
.country-info p {
  margin-bottom: 10px;
}
.country-name {
  font-size: 25px;
  margin-bottom: 15px;
}
.go-back-button {
  background-color: var(--secondaryBackgroundColor);
  border: none;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
  color: var(--textColor);
  cursor: pointer;
  font-size: 20px;
  margin: 50px 0;
  padding: 15px;
  width: 15%;
}
.detailed-country-container {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
  width: 100%;
}
.detailed-country-image-container {
  width: 40%;
}
.detailed-country-image {
  width: 100%;
}
.detailed-country-name {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 80%;
}
.detailed-country-info-container {
  width: 60%;
}
.detailed-country-info {
  display: flex;
  justify-content: space-between;
  line-height: 1.7;
  margin: 0 auto;
  width: 80%;
}
.border-countries {
    display: flex;
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
}
.single-border-country {
  background-color: var(--secondaryBackgroundColor);
  border: none;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
  margin-left: 2px;
  padding: 10px 5px;
}

@media screen and (max-width: 1200px) {
  .country-display-container {
    grid-template-columns: 1fr 1fr;
  }
  .search-and-filter-container {
    align-items: flex-start;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
  }
  .select-filter {
    width: 30%;
  }
  .search-and-filter-container i {
    top: 140px;
  }
}
@media screen and (max-width: 900px) {
  .detailed-country-container {
    align-items: flex-start;
    flex-direction: column;
  }
  .detailed-country-image-container {
    width: 100%;
  }
  .select-filter {
    width: 85%;
  }
  .search-country {
    width: 100%;
  }
  .detailed-country-image {
    width: 100%;
  }
  .detailed-country-info {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .detailed-country-info-container {
    width: 100%;
  }
  .detailed-info-left {
    margin-bottom: 20px;
  }
  .detailed-country-name {
    margin: 0;
    margin-top: 20px;
  }
  .border-countries {
    margin: 0;
    margin-top: 20px;
    width: 100%;
  }
  .go-back-button {
    width: 40%;
  }
}
@media screen and (max-width: 585px) {
  .logo {
    font-size: 19px;
  }
  .dark-mode-container {
    font-size: 15px;
  }
  .search-country::placeholder{
      font-size: 17px;
  }
  .select-filter{
      font-size: 17px;
  }
  .country-display-container {
    grid-template-columns: 1fr;
  }
  .border-countries{
      flex-direction: column;
      height: 80px;
      justify-content: space-around;
      overflow: hidden;
  }
}
